{% if page_obj.has_other_pages %}
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link text-primary d-inline-block"><<</a></li>
    {% else %}
      <li class="disabled">
        <div class="page-link text-secondary d-inline-block disabled" href="#"><<</div>
      </li>
    {% endif %}

    {% for page_num in page_obj.paginator.page_range %}
      {% if page_num %}
        {% if page_num == page_obj.number %}
          <li class="disabled">
            <div class="page-link text-secondary d-inline-block disabled" href="#">{{ page_num }}</div>
          </li>
        {% else %}
          <li>
            <a href="?page={{ page_num }}" class="page-link text-primary d-inline-block">{{ page_num }}</a>
          </li>
        {% endif %}
      {% else %}
        <li class="disabled"><a href="#" class="page-link text-secondary d-inline-block text-muted">・・・</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link text-primary d-inline-block">>></a></li>
    {% else %}
      <li class="disabled">
        <div class="page-link text-secondary d-inline-block disabled" href="#">>></div>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
