{% extends 'common/base.html' %}

<!-- head -->
{% block head_title %}
マイページ
{% endblock %}

<!-- main -->
{% block content %}

<div class="container">
  <div class="row">
    <h2>マイページ</h2>
    <div>
      <p>ユーザー名: {{ user }}</p>
      <p>投稿数：{{ user.recipes.all|length }}</p>
    </div>
  </div>

  <div class="row mb-5">
    <h2 class="mb-3">レシピ一覧</h2>
    {% for recipe in recipes %}
      <p><a href="{% url 'cook:recipe_detail' recipe.id %}">{{ recipe.name }}</a></p>
      <p>{{ recipe.description|linebreaksbr }}</p>
      <hr>
    {% empty %}
      <p>まだ何も投稿していません。</p>
    {% endfor %}
  </div>

  {% include 'common/pagination-button.html' %}
</div>

{% endblock %}
